
/*MENU - NAVBAR*/
#header{
    width: 100%;
    background-color: var(--cinza_claro);
}
#header .navbar-collapse{
    width: auto;
}
p{
    margin-bottom: 0;
}
#header .nav-link{
    color: black;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: transform .6s;
}

#header .nav-link:hover{
    background-image: linear-gradient(var(--azul_escuro_dg_claro), var(--azul_claro_dg_claro));
    color: rgb(255, 255, 255);
    transform: scale(1.2); 
}

.fer:focus{
    background-image: linear-gradient(var(--azul_escuro_dg_claro), var(--azul_claro_dg_claro));
    color: rgb(255, 255, 255);
    transform: scale(1.2); 
}
#header .dropdown-center {
    background-color: transparent;
    color: black;
    transition: transform .6s;
    transition: .3s ease-in-out;
}

#header .menu-fer {
    background-image: linear-gradient(var(--azul_claro_dg_claro), var(--azul_escuro_dg_claro));
    border-top: 0px;
    margin-left:-14px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 1.1rem;
}

#header .menu-perf {
    background-image: linear-gradient(var(--azul_claro_dg_claro), var(--azul_escuro_dg_claro));
    border-top: 0px;
    margin-left:-14px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 1.1rem;
}


.menu-perf-text{
    font-size: 0.8rem;
}

/*Correção do botão*/
#header .btn{
    border:0px;
}

#header .btn:hover{
    border:0px;
}


#header .dropdown-item{
    border-radius:-0px;
    margin-bottom: 0.5rem;
    color: white;
}
#header .dropdown-item:hover{
    color: black;
    font-weight: bold;
}

#header .usuario{
    height: 5rem;
}

#user{
    width: 5rem;
}
.usu{
    min-width: 4.5rem;
    max-width: 4.5rem;
    min-height: 4.5rem;
    max-height: 4.5rem;
    border-radius: 50%;
}

#text-usu{
    font-size: 1.7rem;
    margin-bottom: -1rem;
}
.perfil-text{
    font-size: 0.8rem;
    margin-top: -1rem;
}
.gerenc-perfil{
    text-decoration: none;
    color: black;
}
.gerenc-perfil:hover{
    color:#fff  
    
}
.foto_usu{
    margin-left:1rem;
}
#usuario{
    width: 2rem;
}
.teste{
    background-color: #fff;
}

.icons{
    margin-top: -0.19rem;
    margin-right:0.5rem;
}
#perfil{

}

/*.entrar{
    background-image: linear-gradient(to right, var(--azul_escuro_dg_claro), var(--azul_claro_dg_claro));
    color: rgb(255, 255, 255);
    border: 0;
    box-shadow: inset 2px 2px 6px hsla(0, 0%, 18%, 0.815);
    transition: filter .3s;
    transition: transform .3s;
}
#btn_menu{
    width: 7em;
}
.entrar:hover{
    filter: brightness(95%);
    transform: scale(1.07);
    color: var(--branco);
}*/
.img_prop path{
    fill:#fff;
}

@media (max-width: 1399.98px) {
    #header #link-vantagens{
        margin-right: 0.8rem;
    }  
    .navbar-nav{
        padding-bottom: 0;
    }


}
@media (max-width: 767.98px) {
    #header .nav-link{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: inherit;
    }   
    #header .nav-link:hover{
        transform: scale(1.05); 
        border-radius: 10px;
    }
    #header .nav-link p, img{
        display: inline-block;
        margin: auto;
    }
    #header .nav-link button{
        display: inline-block;
        margin: auto;
    }
    #header .dropdown-menu{
        margin: auto;
    }
}
@media (max-width: 991.98px) { 
    #img_sobre{
        width: 21em;
    }
}
@media (max-width: 575px) {
    #header .navbar-brand{
        padding-left: 1.2em;
    }
    #btn_menu{
        margin-left: 1.5em;
        margin-bottom: 1em;
    }
    #navbarNav{
        padding-top: 1em;
    }
    

}
/*MENU - NAVBAR*/